
body {
  font-size: 16px;
  line-height: 1.6;
  @extend %opensans-400;
  letter-spacing: 0.03em;
  color: $accent-color;
}



.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}