
body {
  font-size: 16px;
  line-height: 1.4;
  @extend %opensans-600;
  letter-spacing: 0.03em;
  color: $accent-color;
}



.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  @extend %title;
}


.btn {
  padding: 12px 24px;
  background-color: $green-900;
  border-radius: 6px;
  color: $white;
  line-height: 1.3;
  font-weight: 400;
  font-size: 18px;
  color: $white;
  @extend %btn-fortunes;
}