@import 'fonts';
@import 'vars';
@import 'reset';
@import 'global';

.header {

  &__top {
    padding: 16px 0;
    background-color: $dark-800;
    color: $white;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__info {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }

    &--left {
      position: relative;

      &:not(:last-child) {
        margin-right: 48px;
      }

      .header__link {

        &::before {
          content: "";
          position: absolute;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 22px;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;
        }

        &--address {
          padding-left: 45px;

          &::before {
            background-image: url('../images/header/icon-del-address.svg');
            width: 32px;
          }
        }

        &--tel {
          padding-left: 34px;

          &::before {
            background-image: url('../images/header/icon-tel.svg');
            width: 22px;
          }
        }
      }
    }
  }

  &__link {
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
    font-size: 14px;
  }

  &__catalog {
    font-weight: 600;
    color: $green-900;
    background-color: $white;
    padding: 15px 38px 15px 61px;
    position: relative;
    border-radius: 6px;
    transition: background-color 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/header/nav_icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &::before {
      width: 25px;
      height: 17px;
      left: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/header/chevron-right.svg');
      width: 8px;
      height: 4px;
      right: 18px;
    }

    &:hover,
    &:active {
      background-color: $green-200;
    }
  }



  &__search-form {
    max-width: 576px;
    width: 100%;
    height: 50px;
    position: relative;
  }

  &__search-input {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 15px 160px 15px 51px;
    color: $dark-800;
    outline: transparent;
    font-weight: 400;
    letter-spacing: 0.03em;
    background-image: url('../images/header/icon-search.svg');
    background-position: 13px center;
    background-repeat: no-repeat;
  }

  &__search-icon {
    position: absolute;
    width: 50px;
    height: 50px;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/header/icon-search.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__search-btn {
    font-weight: 600;
    background-color: $dark-800;
    color: $white;
    padding: 0 52px;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    transition: background-color 0.5s, box-shadow 0.5s;
    outline: transparent;

    &:hover {
      background-color: $btn-hover;
    }

    &:active {
      box-shadow: inset 0 4px 4px $btn-active;
      background-color: $dark-800;
    }

    &:focus {
      box-shadow: inset 0 4px 4px $btn-active, 0 0 0 4px $btn-focus;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;


  &__item {
    position: relative;
    background-color: transparent;
    transition: background-color 1s;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 25px;
    }

    &:hover {
      background-color: $white-hover;
    }
  }


  &__link {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $white;
    color: $red-900;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    top: 3px;
    left: 3px;
  }
}

.intro-slider {

  position: relative;

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0;
    height: 600px;
    padding: 143px 0 141px;
  }

  &__inner {
    background-color: $slider__bg;
    padding: 24px;
    border-radius: 6px;
  }

  // .slider__title

  &__title {
    font-family: $Ruda;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.3;
    color: $dark-500;
    max-width: 777px;
  }

  // .slider__subtitle

  &__subtitle {
    display: block;
    color: $red-900
  }

  // .slider__description

  &__description {
    color: $dark-500;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 16px;
  }

  // .slider__link

  &__btn {
    letter-spacing: 0.03em;
    transition: background-color 0.5s, box-shadow 0.5s;
    outline: transparent;
  }

  &__arrow-left,
  &__arrow-right {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 10;
    cursor: pointer;
    border-radius: 6px;
    transition: box-shadow 0.3s;
    outline: transparent;

    rect,
    path {
      transition: fill 0.5s, stroke 0.5s;
    }

    &:hover {
      rect {
        fill: $green-200;
        stroke: $green-900;
      }

      path {
        fill: $green-900;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px $product-card-btn;
    }
  }

  &__arrow-left {
    left: 60px;
  }

  &__arrow-right {
    right: 60px;
  }
}

.advantages {

  padding: 48px 0 29px;
  background-color: $silver-100;
  // .advantages__list

  &__list {
    display: flex;
    justify-content: center;
    letter-spacing: 0;
  }

  // .advantages__item

  &__item {
    max-width: 264px;
    width: 100%;
    padding-left: 74px;
    position: relative;

    &:not(:last-child) {
      margin-right: 65px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 0;
    }

    &--delivery::before {
      background-image: url('../images/advantages/scooter.svg')
    }

    // .advantages__item--return

    &--return::before {
      background-image: url('../images/advantages/return-box.svg')
    }

    // .advantages__item--support

    &--support::before {
      background-image: url('../images/advantages/24-hours.svg')
    }
  }


  // .advantages__title

  &__title {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
  }

  // .advantages__description

  &__description {
    font-size: 14px;
    color: $dark-500;
    font-weight: 400;
  }
}

.product-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item {
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    text-transform: uppercase;
    color: $dark-500;
    font-size: 15px;

    &:hover {
      border-bottom: 3px solid $green-200;
    }
  }
}

.best-goods {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 47px;
  }

  &__button {
    background-color: transparent;
    color: $green-900;
    border: 1px solid $green-900;
    margin: 0 auto;
    display: block;

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 4px 4px $btn-active;
    }

    &:focus {
      box-shadow: inset 0 4px 4px $btn-active, 0 0 0 4px $product-card-btn;
    }
  }
}

.product-card {
  max-width: 300px;
  width: 100%;
  border: 1px solid $product-card;
  border-radius: 6px;
  position: relative;
  padding-top: 56px;
  transition: border 0.5s;

  &:hover {
    border: 1px solid $green-900;
  }

  &__badges {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12px;
    top: 12px;
  }

  &__badge {
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 6px;
    align-self: flex-start;
    text-transform: uppercase;
    color: $white;

    &--new {
      background-color: $green-900;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  // .product-card__wish-btn

  &__like {
    width: 32px;
    height: 29px;
    position: absolute;
    top: 17px;
    right: 12px;

    path {
      transition: fill 0.3s;
    }

    &:hover {
      path {
        fill: $yellow-900;
      }
    }
  }

  &__image {
    object-fit: cover;
  }

  // .product-card__name

  &__name {
    font-size: 14px;
    height: 60px;
    display: -webkit-box;
    line-clamp: 3;
    box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 17px;
  }

  // .product-card__bottom

  &__bottom {
    padding: 9px 18px 18px;
    position: relative;
  }

  // .product-card__offers

  &__offers {
    position: relative;
  }

  &__price {
    font-size: 14px;
    color: $dark-500;
    align-self: flex-start;

    &--old {
      position: absolute;
      color: $silver-600;
      bottom: 17px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 9px;
        background-color: $silver-600;
        transform: rotate(-15deg);
      }
    }

    // .product-card__old-price

  }

  // .product-card__buy-btn

  &__buy-btn {
    width: 32px;
    height: 32px;
    background-color: $green-900;
    position: absolute;
    border-radius: 3px;
    right: 18px;
    bottom: 18px;
    transition: background-color 0.5s;
    @extend %btn-fortunes;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/icons/icon-cart.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto
    }
  }
}

.banner {

  &__list {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }

  &__item {
    max-width: 300px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    border-radius: 6px;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $dark-500;
    letter-spacing: 0;

    &--modified {
      max-width: 630px;
      background-color: $fruits-bg;
      color: $white;
      background-position: right center;

      .banner__subtitle,
      .banner__link {
        text-shadow: 1px 1px 0 $btn-active;
      }

      .banner__title {
        text-shadow: 2px 2px 0 $btn-active;
        max-width: 351px;
      }
    }


  }

  &__subtitle {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 18px;
  }

  &__title {
    font-family: $Ruda;
    font-size: 30px;
    margin-bottom: 12px;
    max-width: 200px;
  }

  &__link {
    align-self: flex-start;
    padding-bottom: 6px;
    border-bottom: 2px solid;
    transition: color 0.5s;

    &:hover {
      color: $orange-900;
    }
  }

  &__subtitle,
  &__link {
    line-height: 1;
  }

}

.stock {

  // .stock__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
  }

  // .stock__item

  &__item {

    .product-card {
      padding: 12px;
      height: 124px;
      display: grid;
      grid-template-columns: 111px 1fr;

      &__image {
        margin-right: 12px;
      }

      &__bottom {
        padding: 0;
      }

      &__name {
        height: 58px;
        margin-bottom: 7px;
        width: 100%;
      }

      &__status {
        font-size: 10px;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 5px;

        &--in-stock {
          color: $green-900;
        }

        &--ends {
          color: $red-900;
        }

        &--ended {
          color: $silver-600;
        }
      }

      &__price {
        &--new {
          margin-right: 12px;
          font-size: 20px;
          line-height: 1;
        }

        &--old {
          position: relative;
          bottom: 0;
          font-size: 12px;
        }
      }

      &__rating {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-right: 18px;
        font-weight: 700;
        line-height: 1;

        &::after {
          content: "";
          position: absolute;
          background-image: url('../images/icons/star.svg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 16px;
          height: 16px;
          bottom: -1px;
        }
      }
    }

  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}




.footer {
  padding: 30px 0 0;
  background-color: $dark-800;
  color: $white;

  &__logo {
    margin-bottom: 30px;
  }

  &__top {
    padding-bottom: 30px;
    border-bottom: 1px solid $white-hover;
  }

  // .footer__inner

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // .footer__form

  &__form {
    display: inline-block;
    position: relative;
  }

  &__label {
    line-height: 1;
    font-weight: 400;
    margin-bottom: 18px;
    display: block;
  }

  // .footer__input

  &__input {
    max-width: 298px;
    width: 100%;
    padding: 12px 120px 12px 12px;
    border-radius: 6px;
    line-height: 1;
    height: 40px;
    outline: transparent;
    font-size: 14px;
    color: $placeholder-color;
  }

  &__btn {
    padding: 13px 10px 12px 14px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    right: 0;
    border-radius: 0 6px 6px 0;
  }

  &__nav {
    column-count: 3;
    column-gap: 75px;
  }

  // .footer__item

  &__item {
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

  }

  &__contact {
    display: flex;
    flex-direction: column;

    .social {
      display: flex;

      &__icon:not(:last-child) {
        margin-right: 18px;
      }

      &__link:active {
        opacity: 0.7;
      }
    }
  }



  // .footer__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }

  &__payment {
    display: flex;

    li:not(:last-child) {
      margin-right: 24px;
    }
  }
}