@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'reset';
@import 'global';

.header {

  &__top {
    padding: 16px 0;
    background-color: $dark-800;
    color: $white;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;

    @include media-width($tablet) {
      padding: 10px 0;
    }

    @include media-width($phone) {
      padding: 3px 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 3px;
    background-color: transparent;
    transition: background-color 1s;

    span {
      background-color: $white;
      position: absolute;
      z-index: 15;
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      top: calc(50% - 1px);
      left: calc(50% - 15px);
      transition: transform 1s, background-color 0.5s;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        background-color: $white;
        transition: transform 1s;
      }

      &::before {
        transform: translateY(-10px);
      }

      &::after {
        transform: translateY(10px);
      }
    }

    &--active {
      span {
        background-color: transparent;

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }

    &--active {
      background-color: rgba($white, 0.1);
    }

    @include media-width($tablet) {
      display: block;
    }

  }

  &__info {
    display: flex;

    &--right {
      @include media-width($tablet) {
        display: none;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }

    &--left {
      position: relative;

      &:not(:last-child) {
        margin-right: 48px;

        @include media-width($tablet) {
          margin-right: 15px;
        }
      }

      .header__link {

        &::before {
          content: "";
          position: absolute;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 22px;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto 0;

          @include media-width($tablet) {
            right: 0;
            margin: auto;
          }
        }

        &--address {
          padding-left: 45px;

          &::before {
            background-image: url('../images/header/icon-del-address.svg');
            width: 32px;
          }

          @include media-width($tablet) {
            padding-left: 0;
          }
        }

        &--tel {
          padding-left: 34px;

          &::before {
            background-image: url('../images/header/icon-tel.svg');
            width: 22px;
          }

          @include media-width($tablet) {
            padding-left: 0;
          }
        }
      }

      @include media-width($tablet) {
        font-size: 0;
        width: 44px;
        height: 44px;
        right: -10px;
      }

    }
  }

  &__link {
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }


  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
    font-size: 14px;

    @include media-width($tablet) {
      position: relative;
      padding: 11px 0;
    }

    @include media-width($phone) {
      padding: 9px 0;
    }
  }

  .logo__img {
    max-width: fit-content;
  }



  &__logo {
    @include media-width($laptop) {
      margin-right: 10px;
    }
  }

  &__catalog {
    position: relative;
    max-width: 240px;
    width: 100%;
    left: -10px;

    @include media-width($laptop) {
      left: 0;
      margin-right: 15px;
      max-width: 190px;
    }


    @include media-width($tablet) {
      display: none;
    }
  }

  &__catalog-btn {
    font-weight: 600;
    width: 100%;
    color: $green-900;
    background-color: $white;
    padding: 15px 38px 15px 61px;
    position: relative;
    border-radius: 6px;
    transition: background-color 0.5s, border-radius 0.5s;
    z-index: 30;


    &::before,
    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/header/nav_icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &::before {
      width: 25px;
      height: 17px;
      left: 18px;

      @include media-width($laptop) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/header/chevron-right.svg');
      width: 8px;
      height: 4px;
      right: 18px;
      transition: transform 0.7s;

      @include media-width($laptop) {
        right: 11px;
        width: 12px;
        height: 6px;
      }
    }

    &:hover,
    &:active {
      background-color: $green-200;
    }

    &--active {
      background-color: $green-200;
      border-radius: 6px 6px 0 0;

      &::after {
        transform: rotate(180deg);
      }
    }

    @include media-width($laptop) {
      padding: 15px 16px 15px 0;
    }

  }

  &__catalog-list {
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 0 0 6px 6px;
    z-index: 25;
    visibility: hidden;
    transition: transform 0.7s, opacity 0.7s, visibility 0s linear 0.7s;
    opacity: 0;
    transform: translateY(-5%);
    transform-origin: top;

    &--active {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      transform: translateX(0);
    }
  }

  &__catalog-item {
    background-color: $white;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    border: 1px solid $green-200;

    &:last-child {
      border-radius: 0 0 6px 6px;
    }

    a {
      padding: 15px 21px;
      display: block;
      border-left: 3px solid transparent;
      transition: color 0.3s, border-left 0.3s;

      &:hover {
        color: $green-900;
        border-left: 3px solid;
      }
    }
  }



  &__form {
    max-width: 576px;
    width: 100%;
    height: 50px;
    position: relative;
    left: -13px;
    transition: bottom 0.5s;

    @include media-width($laptop) {
      left: 0;
    }

    @include media-width($tablet) {
      margin: 0 20px;
    }

    @include media-width($phone) {
      position: absolute;
      max-width: 100%;
      bottom: -48px;
      height: 48px;
      border: 1px solid $dark-800;
      z-index: 1;
      transition: transform 1s, opacity 0.7s, visibility 0s linear 0.7s;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-20%);
      margin: 0;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
      transform: translateY(0);
    }
  }

  &__input {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 15px 160px 15px 51px;
    color: $dark-800;
    outline: transparent;
    font-weight: 400;
    letter-spacing: 0.03em;
    background-image: url('../images/header/icon-search.svg');
    background-position: 13px center;
    background-repeat: no-repeat;

    @include media-width($phone) {
      border-radius: 0;
    }
  }

  &__search-btn {
    font-weight: 600;
    background-color: $dark-800;
    color: $white;
    padding: 0 53px;
    height: 100%;
    position: absolute;
    right: -1px;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    transition: background-color 0.5s, box-shadow 0.5s;
    outline: transparent;

    &:hover {
      background-color: $btn-hover;
    }

    &:focus {
      box-shadow: inset 0 4px 4px $btn-active, 0 0 0 4px $btn-focus;
    }


    &:active {
      box-shadow: inset 0 4px 4px $btn-active;
      background-color: $dark-800;
    }

    @include media-width($phone) {
      border-radius: 0;
    }
  }

  @include media-width($tablet) {
    position: relative;
  }

}

.user-nav {
  display: flex;
  align-items: center;


  &__item {
    position: relative;
    background-color: transparent;
    transition: background-color 1s;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 11px;

      @include media-width($phone) {
        margin-right: 6px;
      }
    }

    &:hover {
      background-color: $white-hover;
    }

    &--search {
      display: none;

      @include media-width($phone) {
        display: block;
      }
    }

    &--login,
    &--like {
      @include media-width($tablet) {
        display: none;
      }
    }

    &--buy {

      svg {
        @include media-width($phone) {
          width: 24px;
          height: 23px;
        }
      }
    }
  }


  &__link {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-width($phone) {
      width: 44px;
      height: 44px;
    }
  }


  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $white;
    color: $red-900;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    top: 3px;
    left: 3px;
  }

  @include media-width($phone) {
    position: relative;
    right: 3px;
  }
}

.sidebar {
  color: $dark-800;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  max-width: 300px;
  background-color: $white;
  transform: translateX(-100%);
  transition: transform 1s;
  z-index: 999;
  overflow: scroll;
  box-shadow: 15px 0px 8px -9px rgba(0, 0, 0, 0.2);

  &__top {
    padding: 26px 0;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;
  }

  &__close {
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 15;

    span {

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: $black;
        margin: auto;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    &--active {
      background-color: rgba($silver-600, 0.3);
      border-radius: 3px;
    }
  }

  &--active {
    transform: translateX(0);
  }

  &__login {
    background-color: $green-900;
    padding: 15px 0;
  }

  &__authentication {
    position: relative;
    padding-left: 25px;
  }

  &__icon {
    &--user {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  &__btn {
    font-size: 18px;
    line-height: 1;
    color: $white;
    font-weight: 400;
    letter-spacing: 0.06em;

    &--login {
      padding: 0 15px;
      border-right: 1px solid;
    }

    &--register {
      padding: 0 10px;
    }
  }

  &__catalog-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    position: relative;
    padding: 14px 0 14px 56px;
    width: 100%;
    text-align: left;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/icons/catalog_icon.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      left: 15px;
      width: 25px;
      height: 19px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  &__contact {
    padding: 9px 0 24px 0;
    border-bottom: 1px solid rgba($silver-600, 0.3);
  }

  &__contact-list {
    margin-bottom: 3px;
  }

  &__contact-item {
    font-size: 18px;
    line-height: 1;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      left: 15px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &--tel {
      &::before {
        background-image: url('../images/icons/icon-tel.svg');
        height: 24px;
      }
    }

    &--nav {
      &::before {
        background-image: url('../images/icons/icon-nav.svg');
        height: 33px;
      }
    }
  }

  &__contact-link {
    padding: 15px 15px 15px 54px;
    display: inline-block;
    width: 100%;
  }

  .social {
    display: flex;
    padding: 0 15px;

    &__icon {
      height: 32px;

      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    &__link {
      font-size: 0;

      &:active {
        opacity: 0.7;
      }
    }

    path {
      fill: $black;
    }
  }

  &__list {
    padding: 24px 0;
  }

  &__link {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    padding: 12px;
    display: inline-block;
    width: 100%;
  }


}

.content-overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba($black, 0.1);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.8s;

  &--show {
    transform: translateX(0);
    z-index: 50;
  }
}

.intro-slider {

  position: relative;
  z-index: 15;

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: 0;
  }

  &__inner {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-width($tablet) {
      height: 400px;
    }

    @include media-width($phone) {
      margin: 0 -15px;
      height: 320px;
    }
  }

  &__content {
    background-color: $slider__bg;
    padding: 24px;
    border-radius: 6px;

    @include media-width($phone) {
      padding: 15px;
      border-radius: 0;
    }
  }

  // .slider__title

  &__title {
    font-family: $Ruda;
    text-transform: uppercase;
    font-weight: 900;
    color: $dark-500;
    max-width: 777px;
    @include line-clamp (60, 1.3, 3);
    margin-bottom: 7px;

    @include media-width($tablet) {
      font-size: 39px;
    }

    @include media-width($phone) {
      font-size: 20px;
      line-height: 1.3;
      margin-bottom: 15px;
    }
  }

  // .slider__subtitle

  &__subtitle {
    display: block;
    color: $red-900
  }

  // .slider__description

  &__description {
    color: $dark-500;
    margin-bottom: 34px;
    font-weight: 400;
    @include line-clamp (16, 1.4, 2);

    @include media-width($phone) {
      margin-bottom: 24px;
    }
  }

  // .slider__link

  &__btn {
    letter-spacing: 0.03em;
    transition: background-color 0.5s, box-shadow 0.5s;
    outline: transparent;
    display: inline-block;

    @include media-width($phone) {
      font-size: 14px;
    }
  }

  &__arrow-left,
  &__arrow-right {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 10;
    cursor: pointer;
    border-radius: 6px;
    transition: box-shadow 0.3s;
    outline: transparent;

    rect,
    path {
      transition: fill 0.5s, stroke 0.5s;
    }

    &:hover {
      rect {
        fill: $green-200;
        stroke: $green-900;
      }

      path {
        fill: $green-900;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px $product-card-btn;
    }
  }

  &__arrow-left {
    left: 52px;
  }

  &__arrow-right {
    right: 52px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    font-size: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: 0 auto;


    li {
      margin: 0 15px;
      width: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 50%;
      border: 2px solid $silver-600;

      @include media-width($phone) {
        width: 10px;
        height: 10px;
        margin: 0 5px;
      }
    }

    .slick-active {
      background-color: $green-900;
      border: 2px solid transparent;
    }
  }
}

.advantages {

  padding: 48px 0 33px;
  background-color: $silver-100;
  // .advantages__list

  &__list {
    display: flex;
    justify-content: center;
    letter-spacing: 0;

    @include media-width($phone) {
      display: block;
    }
  }

  // .advantages__item

  &__item {
    max-width: 264px;
    width: 100%;
    padding-left: 74px;
    position: relative;

    &:not(:last-child) {
      margin-right: 65px;

      @include media-width($tablet) {
        margin-right: 10px;
      }

      @include media-width($phone) {
        margin-right: 0;
        margin-bottom: 30px;
        max-width: 100%;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      left: 0;
      top: 0;

      @include media-width($tablet) {
        width: 40px;
        height: 40px;
      }

      @include media-width($phone) {
        width: 50px;
        height: 50px;
      }
    }

    &--delivery::before {
      background-image: url('../images/advantages/scooter.svg')
    }

    // .advantages__item--return

    &--return::before {
      background-image: url('../images/advantages/return-box.svg')
    }

    // .advantages__item--support

    &--support::before {
      background-image: url('../images/advantages/24-hours.svg')
    }

    @include media-width($tablet) {
      padding-left: 50px;
    }

    @include media-width($tablet) {
      padding-left: 74px;
    }
  }


  // .advantages__title

  &__title {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
  }

  // .advantages__description

  &__description {
    color: $dark-500;
    font-weight: 400;
    @include line-clamp (14, 1.4, 2);
  }

  @include media-width($phone) {
    padding: 30px 0;
  }
}

.product-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 47px;

  &__item {
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 27px;

      @include media-width($phone) {
        margin-right: 25px;
      }
    }

    @include media-width($phone) {
      margin-top: 11px;
    }
  }

  &__btn {
    text-transform: uppercase;
    color: $dark-500;
    font-size: 15px;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid $green-200;
    }

    @include media-width($phone) {
      font-size: 14px;
    }
  }

  @include media-width($tablet) {
    margin-bottom: 40px;
  }

  @include media-width($phone) {
    flex-wrap: wrap;
    margin-top: -11px;
    margin-bottom: 24px;
  }
}

.best-goods {

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 47px;

    @include media-width($laptop) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-width($tablet) {
      grid-gap: 20px;
      margin-bottom: 40px;
    }

    @include media-width($phone) {
      grid-template-columns: repeat(2, minmax(130px, 1fr));
      grid-gap: 5px;
      margin-bottom: 24px;
    }
  }

  &__button {
    background-color: transparent;
    color: $green-900;
    border: 1px solid $green-900;
    margin: 0 auto;
    width: fit-content;
    display: block;

    &:hover {
      background-color: $green-100;
    }

    &:focus {
      box-shadow: inset 0 4px 4px $btn-active, 0 0 0 4px $product-card-btn;
    }

    &:active {
      box-shadow: inset 0 4px 4px $btn-active;
    }
  }
}

.product-card {
  max-width: 300px;
  width: 100%;
  height: 100%;
  border: 1px solid $product-card;
  border-radius: 6px;
  position: relative;
  padding-top: 59px;
  transition: border 0.5s, transform 1s;

  &:hover {
    border: 1px solid $green-900;
    transform: scale(1.05);

    @include media-width($tablet) {
      transform: scale(1);
    }
  }

  &__badges {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12px;
    top: 12px;
  }

  &__badge {
    font-size: 10px;
    line-height: 1;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 6px;
    align-self: flex-start;
    text-transform: uppercase;
    color: $white;

    &--new {
      background-color: $green-900;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }

  // .product-card__wish-btn

  &__like {
    width: 32px;
    height: 29px;
    position: absolute;
    top: 17px;
    right: 12px;

    path {
      transition: fill 0.3s;
    }

    &:hover {
      path {
        fill: $yellow-900;
      }
    }
  }

  &__image {
    object-fit: cover;
    height: auto
  }

  // .product-card__name

  &__name {
    @include line-clamp (14, 1.4, 3);
    margin-bottom: 17px;
    min-height: 60px;

    @include media-width($phone) {
      margin-bottom: 60px;
      @include line-clamp (14, 1.4, 2);
      min-height: auto;
    }
  }

  // .product-card__bottom

  &__bottom {
    padding: 6px 18px 22px;
    position: relative;

    @include media-width($phone) {
      padding: 15px 12px 12px;
    }
  }



  // .product-card__offers

  &__offers {
    position: relative;
  }

  &__price {
    font-size: 14px;
    color: $dark-500;
    align-self: flex-start;

    &--old {
      position: absolute;
      color: $silver-600;
      bottom: 17px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 9px;
        background-color: $silver-600;
        transform: rotate(-15deg);
      }
    }

    // .product-card__old-price

  }

  // .product-card__buy-btn

  &__buy-btn {
    width: 32px;
    height: 32px;
    background-color: $green-900;
    position: absolute;
    border-radius: 3px;
    right: 18px;
    bottom: 18px;
    transition: background-color 0.5s;
    @extend %btn-fortunes;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/icons/icon-cart.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto
    }
  }

  @include media-width($laptop) {
    max-width: 100%;
  }
}

.quanity {

  width: 84px;
  height: 24px;
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 15;

  &__btn {
    background-color: $green-900;
    width: 24px;
    height: 100%;
    position: relative;
    transition: box-shadow 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $white;
      width: 16px;
      height: 2px;
      border-radius: 1px;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
    }

    &--minus {
      left: 0;
      border-radius: 3px 0 0 3px;
    }

    &--plus {
      right: 0;
      border-radius: 0 3px 3px 0;

      &::after {
        transform: rotate(90deg);
      }
    }

    &:hover {
      box-shadow: inset 0 0 0 24px rgba($black, 0.15);
    }
  }

  &__counter {
    width: 36px;
    background-color: rgba($green-900, 0.1);
    text-align: center;
    font-size: 16px;
    line-height: 1;
  }

  @include media-width($phone) {
    left: 8px;
    margin: 0;
    bottom: 55px;
  }
}

.sr-only {}


.banner {

  &__list {
    display: grid;
    grid-template-columns: 630px repeat(2, 1fr);
    grid-column-gap: 30px;
    text-transform: uppercase;

    @include media-width($laptop) {
      grid-template-columns: 420px repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    @include media-width($tablet) {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 15px;
    }
  }

  &__item {
    max-width: 300px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    border-radius: 6px;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $dark-500;
    letter-spacing: 0;

    @include media-width($tablet) {
      background-position: center;
    }

    &--modified {
      max-width: 630px;
      background-color: $fruits-bg;
      color: $white;
      background-position: right center;

      .banner__overtitle,
      .banner__link {
        text-shadow: 1px 1px 0 $btn-active;
      }

      .banner__title {
        text-shadow: 2px 2px 0 $btn-active;
        max-width: 351px;

        @include media-width($phone) {
          max-width: 260px;
        }
      }

      @include media-width($phone) {
        background-position: -150px center;
      }
      
    }

    @include media-width($tablet) {
      padding-left: 10px;
      max-width: 100%;
    }

    @include media-width($phone) {
      padding-left: 15px;
    }
  }

  &__overtitle {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 18px;

    @include media-width($tablet) {
      margin-bottom: 15px;
    }
  }

  &__title {
    font-family: $Ruda;
    font-size: 30px;
    margin-bottom: 12px;
    max-width: 200px;

    @include media-width($tablet) {
      max-width: 100%;
    }

    @include media-width($phone) {
      max-width: 260px;
      font-size: 24px;
      margin-bottom: 77px;

      span {
        display: block;
      }
    }
  }

  &__link {
    align-self: flex-start;
    padding-bottom: 6px;
    border-bottom: 2px solid;
    transition: color 0.5s;

    &:hover {
      color: $orange-900;
    }
  }

  &__overtitle,
  &__link {
    line-height: 1;
  }

}

.stock {

  background-color: $stock-bg;
  padding: 72px 0;
  // .stock__list

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 46px;

    @include media-width($laptop) {
      grid-gap: 15px;
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-width($tablet) {
      grid-gap: 15px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-width($phone) {
      grid-gap: 15px;
      grid-template-columns: 1fr;
      padding: 0 23px;
    }
  }

  // .stock__item

  &__item {
    .product-card {

      &--promo {
        padding: 12px;
        height: 124px;
        display: grid;
        grid-template-columns: 111px 1fr;
        background-color: $white;

        .product-card {
          &__image {
            margin-right: 12px;
          }

          &__bottom {
            padding: 0;
          }

          &__name {
            margin-bottom: 7px;
            width: 100%;

            @include media-width($phone) {
              -webkit-line-clamp: 3;
              min-height: 60px;
            }
          }

          &__status {
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 5px;

            &--in-stock {
              color: $green-900;
            }

            &--ends {
              color: $red-900;
            }

            &--ended {
              color: $silver-600;
            }
          }

          &__price {
            &--new {
              margin-right: 12px;
              font-size: 20px;
              line-height: 1;
            }

            &--old {
              position: relative;
              bottom: 0;
              font-size: 12px;
            }
          }

          &__offers {
            @include media-width($laptop) {
              bottom: -3px;
            }
          }

          &__rating {
            position: absolute;
            right: 0;
            bottom: 0;
            padding-right: 18px;
            font-weight: 700;
            line-height: 1;

            &::after {
              content: "";
              position: absolute;
              background-image: url('../images/icons/star.svg');
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              width: 16px;
              height: 16px;
              bottom: -1px;
            }
          }
        }
      }

      @include media-width($laptop) {
        height: auto;
      }
    }

  }

  &__btn {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }

  @include media-width($tablet) {
    padding-top: 48px;
  }
}

.brands {

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    cursor: pointer;
    transition: transform 1s;

    &:hover {
      transform: scale(1.15);
    }
  }

  svg {
    g {
      transition: opacity 1s;
    }

    &:hover {
      g {
        opacity: 1;
      }
    }
  }
}

.news {

  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__all-news {
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    color: $green-900;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 2px solid;
    position: relative;
    bottom: 7px;
    transition: color 0.5s;

    &:hover,
    &:active {
      color: $buy-hover;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }

}

.news-card {
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 3px 3px $btn-active;
  position: relative;
  transition: transform 1s;

  &:hover {
    transform: scale(1.05);

    .news-card__title {
      color: $green-900;
    }
  }

  &__img {
    object-fit: cover;
    border-radius: 6px 6px 0 0;
    background-image: url('../images/news/item-bg.jpg');
  }

  &__date {
    position: absolute;
    left: 20px;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0 10px;
    text-transform: uppercase;
    font-weight: 700;
    width: 65px;
    height: 76px;
    border-radius: 0 0 4px 4px;

    &--month {
      font-size: 10px;
      letter-spacing: 0.1em;
      margin-bottom: 4px;
    }

    &--day {
      font-size: 30px;
      line-height: 1;
      font-family: $Ruda;
    }
  }

  &__wrapper {
    padding: 18px;
  }

  &__title {
    @include line-clamp (16, 1.5, 3);
    letter-spacing: 0;
    transition: color 0.3s;
    font-weight: 600;
  }

}

.footer {
  padding: 30px 0 0;
  background-color: $dark-800;
  color: $white;

  &__logo {
    margin-bottom: 24px;
    display: inline-block;
  }

  &__top {
    padding-bottom: 30px;
    border-bottom: 1px solid $white-hover;
  }

  // .footer__inner

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // .footer__form

  &__form {
    display: inline-block;
    position: relative;
    margin-right: 157px;
  }

  &__label {
    line-height: 1;
    font-weight: 400;
    margin-bottom: 18px;
    display: block;
  }

  // .footer__input

  &__input {
    max-width: 298px;
    width: 100%;
    padding: 12px 120px 12px 12px;
    border-radius: 6px;
    line-height: 1;
    height: 40px;
    outline: transparent;
    font-size: 14px;
    color: $placeholder-color;
  }

  &__btn {
    padding: 13px 10px 12px 14px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    right: 0;
    border-radius: 0 6px 6px 0;
    transition: background-color 0.5s, box-shadow 0.5s;
  }

  &__column {
    column-count: 3;
    column-gap: 70px;
    margin-right: 65px;
  }

  // .footer__item

  &__item {
    font-weight: 400;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

  }

  &__contact {
    display: flex;
    flex-direction: column;

    .social {
      display: flex;
      position: relative;
      left: 9px;
      top: 2px;

      &__icon {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }

      &__link {
        &:active {
          opacity: 0.7;
        }
      }
    }
  }



  // .footer__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }

  &__payment {
    display: flex;

    li {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}