@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {

  &__top {
    padding: 16px 0;
    background-color: $dark-800;
    color: $white;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__info {
    display: flex;
  }

  &__info-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 48px;
    }
  }

  &__info-link {
    transition: opacity 0.5s;

    &:before {
      content: "";
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 22px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__info--address {
    padding-left: 45px;

    &::before {
      background-image: url('../images/header/icon-del-address.svg');
      width: 32px;
    }
  }

  &__info--tel {
    padding-left: 34px;

    &::before {
      background-image: url('../images/header/icon-tel.svg');
      width: 22px;
    }
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__bottom {
    padding: 25px 0;
    background-color: $green-900;
    line-height: 1.4;
  }

  &__catalog {
    font-weight: 600;
    font-size: 14px;
    color: $green-900;
    background-color: $white;
    padding: 15px 38px 15px 61px;
    position: relative;
    border-radius: 6px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/header/nav_icon.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }

    &::before {
      width: 25px;
      height: 17px;
      left: 18px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/header/chevron-right.svg');
      width: 8px;
      height: 4px;
      right: 18px;
    }
  }


  &__search-form {
    max-width: 576px;
    width: 100%;
    height: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../images/header/icon-search.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      left: 13px;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  &__search-input {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 15px 0 15px 51px;
    color: $dark-800;
  }

  &__search-btn {
    font-weight: 600;
    background-color: $dark-800;
    color: $white;
    padding: 0 52px;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 0px 6px 6px 0px;
    text-transform: uppercase;
  }
}

.user-nav {
  display: flex;
  align-items: center;


  &__item {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color 1s;
    border-radius: 3px;
    
    &:not(:last-child) {
      margin-right: 25px;
    }

    &:hover {
      background-color: $white-hover;
    }
  }


  &__link {
  }


  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: $white;
    color: $red-900;
    font-weight: 600;
    font-size: 10px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    top: 3px;
    left: 3px;
  }
}



@import 'media';